<h2>Highs/Lows for the next 7 days:</h2>
{{#each today.data}}: 

<h1>{{today.title}}</h1>
<blockquote><pre><li><p>
{{apparentTemperatureMin}}/{{apparentTemperatureMax}}
</p></li></pre></blockquote>


{{/each}}